.App {
  text-align: center;
}

.oppurtunities{
  background-color:#0F1D34;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.oppurtunitiesContainer{
 text-align: center; 
 color: black;
 background-color: '#CECECF';
}

